body {
    font-family: 'Roboto', sans-serif;
}


.header {
    text-align: center;
    font-size: 40px;
}

.container {
    display: grid;
    margin: auto;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(213,213,213,1) 0%, rgba(163,163,163,1) 56%, rgba(61,61,61,1) 100%);    width: 95%
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 95%;
    margin: 20px auto;
    grid-gap: 10px;
}

.card {
    display: grid;
    grid-template-rows: max-content max-content auto;
    background: rgb(109, 109, 109);
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgb(56, 54, 54);
    color: white;
    margin: auto;
}

.card:hover {
    transition: all 0.2s ease-in-out;
    width: 99%;
    box-shadow: 1px 1px 20px rgb(209, 171, 0);

}

.card img {
    width: 100%;
    height: auto;
}

.img {
    background: rgb(61, 61, 61);
}

.title {
    background: rgb(61, 61, 61);
}

.title h3 {
    margin: 0px 10px;
    font-size: 30px;
    color: white;
}

.description {
    margin: 0px 20px;
}

.description p {
    font-size: 18px;
    text-align: justify;
}